<div class="container">
<h2 class="text-center mb-4">My Islands</h2>
  <% @islands.each do |island| %>
    <%= link_to island_path(island) do %>
      <%= render "island", island: island %>
    <% end %>
  <% end %>
</div>
