<div class="container bg-light">
  <div id="header">
    <h2><%= @island.name %></h2>
    <div id="header-details">
      <div id="rating">
        <%= @island.rating %>
      </div>
    </div>
    <div id="images">

    </div>
  </div>
  <div id="details"></div>
    <div id="description">

    </div>
    <div id="booking">

    </div>

</div>
