


// #images {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 6px;
//   background-color: bisque;
// }

#header h2, #header p, #specs {
  padding: 7px
}

#images {
  display: flex;
}


#main-images img{
  padding: 7px;
  // grid-row-start: 1;
  // grid-row-end: 2;
}

#sec-images {
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: 1fr 1fr;
  // background-color: cadetblue;
}

#sec-images img{
  padding: 7px;
  // width: 100%;
  // height: auto;
  // object-fit: cover;
}



#specs {
  width: 60%;
}
