.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
  padding:0px;
}

.navbar-lewagon .container-fluid {
  font-family: 'Roboto', sans-serif;
}


.navbar-lewagon .container-fluid h2 {
  padding-left: 5px;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.navbar-lewagon .nav-link  {
  margin-right: 15px;
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 15px;
}
